.psc_button {
    height: 60px;
    width: 230px;
    border: none !important;
    background: none;
    background-image: url("../images/prosanteconnect-bouton.png");
}

.psc_button:hover {
    background-image: url("../images/prosanteconnect-bouton-hover.png");
}